---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

#### Human-centered Evaluation of a Toxicity-detecting Machine Learning Model

We describe the challenges of a ML-based API, Perspective, that can score online comments for toxicity. Specifically, we investigate how toxicity ratings ‘transfer’ to comments on online social platforms that are different from what it was trained on. We test this property by comparing human and machine ratings of toxicity for comments from different platforms.


### UW

#### HCI & Journalism

I participated in a Directed Research Group headed by Melinda McClure Haughey and Dr. Kate Starbird. The goal was to analyze interview data from national and international journalists who work on online misinformation and disinformation using social media data. 


### UC Irvine

#### Evaluating Virtual Reality as a Medium for Transformation in Narrative Experiences


#### Visualizing Algorithm Selection in Social Media
