---
layout: archive
title: "Research Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2>Human-centered Evaluation of a Toxicity-detecting Machine Learning Model</h2>

  <ul>
    <li>
      <div>
        <p> How can we evaluate an AI/ML model beyond technical metrics such as precision, recall, and so on? How can we provide insights about how this model works in different sociotechnical contexts and scenarios, 
          especially to UX professionals who design applications on top of such models? This in-progress work addresses these questions by conducting a
      human-centered evaluation of <i>Perspective</i>, a ML tool that can score online comments for toxicity.
        </p>
      </div>
    </li>
    <li>
      <div>
        <p> How can we evaluate an AI/ML model beyond technical metrics such as precision, recall, and so on? How can we provide insights about how this model works in different sociotechnical contexts and scenarios, 
          especially to UX professionals who design applications on top of such models? This in-progress work addresses these questions by conducting a
      human-centered evaluation of <i>Perspective</i>, a ML tool that can score online comments for toxicity.
        </p>
    </li>
  </ul>

<h2>Past Projects</h2>
    <ul>
      <li> 
        <div>
        <h3 style="color:grey;"> HCI & Journalism, HCDE, UW </h3>
          <p>I participated in a Directed Research Group associated with the Center for an Informed Public, UW. 
          The goal was to analyze data from semi-structured interviews of national and international journalists working on online misinformation and 
          disinformation. We did open coding of the data followed by a thorough qualitative analysis using affinity diagramming. 
          I wrote up memos for the challenges faced by journalists (particularly in investigating data on social media platforms) and design implications, and 
            contributed to publication efforts.
          </p>
        </div>
      </li>
      <li> 
       <div>
        <h3 style="color:grey;"> Virtual Reality (VR) to support transformative narrative experiences, Informatics, UC Irvine </h3>
          <p>
            Can VR support role-playing? We designed and developed an interactive storytelling experience based on an original theatrical musical. 
            Our design, informed by performing arts theories, offers opportunties for the interactor to take up a role. We conducted a formative, qualitative,
            study with 12 participants which included observations and interviews. 
            We studied how and when the design enables or hinders participants role-playing experiences, and 
            present design implications to explicitly support transformative, role-playing experiences.
          </p>
        </div>
      </li>
      <li>
        <div>
        <h3 style="color:grey;"> Visualizing Algorithm Selection in Social Media, Informatics, UC Irvine</h3>
          <p>
            Are users aware they are in algorithmically created filter bubbles / echo chambers? Can this awareness be the first step towards breaking these silos?
            If so, how can they attain it in context, while using the social media platform? This pilot study explores these questions using an experimental study design. 
            A visualization that depicts how tweets of one opinion/topic/theme are populated by the algorithm serves as the experimental condition. This work reveals how 
            participants develop different, subjective interpretations of the visualization and its purpose and are guided by strong personal values and convictions. 
          </p>
         </div>
        <lii>
    </ul>



      

